.container {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
}

.graph {
  width: 60%;
  height: 55%;
  margin: auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.horizontal {
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: row;
}

.break-point {
  margin-left: 10%;
  width: 85%;

  display: flex;
  justify-content: space-between;
}

.y-key {
  width: 10%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 10px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.y-key span {
  font-size: 0.9rem;
  height: calc(10% - 4px);
  position: absolute;
  transition: 1.5s;

  display: flex;
  align-items: center;
}

.y-bar {
  position: relative;
  width: 90%;
  box-sizing: border-box;
  height: calc(100% + 4px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.y-bar .bar-container {
  height: calc(10% - 4px);
  width: 100%;
  transition: 1.5s;
  position: absolute;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.y-bar .bar-container div {
  height: 100%;
  max-width: 85%;
  transition: .5s;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.y-bar .bar-container div .flag {
  height: calc(100% - 5px);
  width: calc(2.7rem - 5px);
  border-radius: 50%;
  margin-right: 4px;
}

.y-bar .bar-container span {
  width: 15%;
  padding-left: 15px;
}

.y-bar .line-break-point {
  position: absolute;
  top: 0;
  width: 85%;
  height: 100%;
  z-index: -1;

  display: flex;
  justify-content: space-between;
}

.y-bar .line-break-point div {
  height: 100%;
  width: 1px;
  background: rgb(230, 230, 230);
}

.total-number {
  position: absolute;
  color: rgb(204, 204, 204);
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.total-number .year {
  font-size: 8rem;
  font-weight: bold;
}

.total-number .total {
  font-size: 3rem;
}
